.Board {
    width: 1200px;
    height: 800px;
    margin: 2em;
    position: relative;
    border: 3px dotted #777;
    perspective: 1200px;
    transform-style: preserve-3d;
}

.GameObject {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.Label {
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #eee;
}

.Card {
    background: #fff;
    width: 200px;
    height: 300px;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.CardFace {
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.CardFront {
    background: red;
}

.CardBack {
    background: blue;
    transform: rotateY( 180deg );
}