@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Gentium Basic', serif;
    background: #f6f6f6;
    font-size: 18px;
}

.Board {
    width: 1200px;
    height: 800px;
    margin: 2em;
    position: relative;
    perspective: 1200px;
    transform-style: preserve-3d;
}

.GameObject {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.Label {
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.Card {
    background: #fff;
    width: 200px;
    height: 300px;
    transition: transform 1s, box-shadow 1s;
    transform-style: preserve-3d;
    border-radius: 0.25em;
}

.CardFace {
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 0.25em;
    overflow: hidden;
    padding: 1em;
}

.CardFront {
    background: #fff;
    color: #333;
}

.CardBack {
    background: #FF70B0;
    color: white;
    transform: rotateY( 180deg );
}